

html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%;  }

/* -----NAV--------------------*/

#navbar {
    width: 100%;
    height: 7%;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-bottom: #e2e2e2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: sticky;
    top: 0;
    transition: 600ms ease-in-out;
    }

.logocontainer{
    display: flex;
    height: 35%;
    align-items: center;

}

.navinner{
    display: flex;
    width: 90%;
    align-items: center;

}

.logo{
    height: 100%;
}

/* -------------------------------------------COVER PAGE-----------------------------------------*/

.cover_title_container{
    height: 9%;
    width: 90%;
    margin:auto;
    display: flex;
   align-items: center;
    justify-content: space-between;
    max-width: 1520px;
}

.cover_title_name{
    height: fit-content;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: max(48px);
    font-size: 3vw;  


}
.cover_title_text{
    justify-content: right;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    height: fit-content;
     font-size: max(40px);
    font-size: 2.5vw;
}
.coverimagecontainer{
    display: flex;
    height: fit-content;
    
}

.cover_image{
    width: 100vw;
    object-fit: contain;
}

.concept_blurb{
    display: flex;
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 6%;
    margin-bottom: 2%;

}

/* -------------------------------------------TEXT-----------------------------------------*/

h1{

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8vw;
}

h2{

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 2.7vw;
}

h3{

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
}
p{

font-family: 'Barlow';
font-style: normal;
font-weight: 300;
font-size: 2.6vw;   
color: #646464; 
}

b {

    font-weight: 500;
    color: black;
}

/* ------------------------------------------TEXTBOXES-----------------------------------------*/
.textbox{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 3%;
    margin-bottom: 3%;
}

.textbox2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;

}

/* ------------------------------------------GIF AND TEXT-----------------------------------------*/
.gif{
    width: 35%;
}

.giftext{
    width: 55%;
    margin-top: 10%;
}

/* ------------------------------------------IMG-----------------------------------------*/
.img_full{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img_medium{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img_container{
    display: flex;
    justify-content: center;

}


/* ------------------------------------------SPACER-----------------------------------------*/
.spacer{
    height: 1px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 235, 235);
   
}



.main{
    width: 100%;
    height: fit-content;
}

.wrapper{
    width: 100%;
    height: fit-content;
    }
    
    .stickysidebar{
   visibility: hidden;
    }
    
    #chapter{
        visibility: hidden;
    
    }
    
    #contents{
        visibility: hidden;
    
    }
    
    .active{
        visibility: hidden;
    }

  


@media screen and (min-width: 1000px) {

    .coverimagecontainer{
        display: flex;
        width: 100%;
        height:65%;
    
    }

    .cover_image{
        object-fit:contain;
        width: 100%;
        }

    .cover_title_container{
        height: 9%;
        width: 60%;
        margin:auto;
        display: flex;
       align-items: center;
        justify-content: space-between;
        max-width: 1520px;
    }
    

    .spacer{
        height: 1px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(235, 235, 235);
        visibility: hidden;
    }

    

.test{
    width: 100%;
    height: 1px;
    background-color: rgb(228, 228, 228);
    margin-top: 5%;
    margin-bottom: 5%;
    
}
        
.wrapper{
display: flex;
justify-content: space-between;
height: fit-content;
gap: 8vw;
}

.stickysidebar{
width: 40%;
flex-grow: 1;

display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 1vh;

position: sticky;
top: 9vh;
margin-top: 9vh;
visibility:visible;
}

#chapter{
    width: fit-content;
    padding: .5vw;

    border-radius: 999px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: .6vw;
    color: #b4b4b4;
    visibility:visible;

}

#chapter:hover{
    width: fit-content;
    padding: .5vw;

    border-radius: 999px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: .6vw;
    color: #8d8d8d;
    visibility:visible;
    background-color: #f7f7f7;
    transition: 150ms ;

}

#contents{
    width: fit-content;
    padding: .5vw;

    border-radius: 999px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: .5vw;
    text-decoration: underline;
    text-underline-offset: .8vh;
    color: #000000;  
    visibility:visible; 

}



.active{
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0) !important;
    font-weight: 400!important;
    transition: 150ms ;
    visibility:visible;
}

a {
color: inherit;
text-decoration: none;

}

.main{
    width: 60%;
    height: fit-content;
    
}


#navbar {
       
      height: 5%;
      top: 0%;
      
    
    }

    .logocontainer{
        display: flex;
        height: 50%;
        align-items: center;
    
    }

    .navinner{
        display: flex;
        width: 60%;
        align-items: center;
    
    }

    .cover_title_container{
        height: 15%;
       
    }
    
    .cover_title_name{
        font-size: 2vw;  
    }
    .cover_title_text{
        font-size: 1.9vw;
    }


    .textbox{
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .textbox2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
    
    }
    
    



    h1{
        font-size: 1.1vw;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    
    
    h2{
    
        
        font-weight: 500;
        font-size: 1.1vw;
    }
    
    h3{
        font-size: 2vw;
        margin-bottom: 8%;
       
    }

    p{
    
  line-height: 150%;
    font-size: .8vw;   
  
    }

    .spacer{
        height: 1px;
        width: 50%;
        margin-top: 1%;
        margin-bottom: 1%;
        
       
    }
    
    .gif{
        width: 32%;
    }
    
    .img_medium{
        width: 75%;
      
    }
}